---
import { generateShortURL } from "../../service/url/link";
import { generateQR } from "../../service/url/qr";
import "./shorter.style.css";
import Result from "../result/result.astro";
import Error from "../error/error.astro";

type TFormParams = null | string;

let link: TFormParams = null;
let error: TFormParams = null;
let QRUrl: TFormParams = null;

if (Astro.request.method === "POST") {
	const DOMAIN_URL = import.meta.env.DOMAIN_URL;
	try {
		link = DOMAIN_URL + (await generateShortURL(Astro));
		QRUrl = await generateQR(link);
	} catch (e) {
		error = (e as Error).message;
	}
}
---

<main class="main">
	<form method={link ? "GET" : "POST"} class="form">
		{
			!link && (
				<input
					type="url"
					name="link"
					class="form__link"
					placeholder="https://google.com"
					required
					autocomplete="url"
				/>
			)
		}
		{link && QRUrl && <Result url={link} qrUrl={QRUrl} />}
		<div class="form__buttons">
			<button type="submit" class="form__button">{link ? "Go Back" : "Generate"}</button>
			{
				QRUrl && (
					<button type="button" class="form__save form__button">
						Save
					</button>
				)
			}
		</div>
	</form>
	<Error error={error} />
</main>

<script src="./astro.script.ts"></script>
