---
import { generateShortURL } from "../../service/url/generate";
import Copy from "../icons/copy.astro";

import "./shorter.css";

type TFormParams = null | string;

let link: TFormParams = null;
let error: TFormParams = null;

if (Astro.request.method === "POST") {
	const DOMAIN_URL = import.meta.env.DOMAIN_URL;
	try {
		link = DOMAIN_URL + (await generateShortURL(Astro));
	} catch (e) {
		error = (e as Error).message;
	}
}
---

<main class="main">
	<form method={link ? "GET" : "POST"} class="form">
		{
			!link && (
				<input
					type="url"
					name="link"
					class="form__link"
					placeholder="https://google.com"
					required
					autocomplete="url"
				/>
			)
		}
		{
			link && (
				<p class="form__link form__result">
					<Copy />
					{link}
				</p>
			)
		}
		<button type="submit" class="form__button">{link ? "Go Back" : "Generate"} </button>
	</form>
	<p class="form_error">{error}</p>
</main>

<script>
	const res = document.querySelector(".form__result");
	res?.addEventListener("click", (e) => {
		const target = (e.target as HTMLElement).closest("p")!;
		const selection = window.getSelection();
		const range = document.createRange();
		range.selectNodeContents(target);
		selection?.removeAllRanges(); // очистить существующее выделение
		selection?.addRange(range); // добавить новый диапазон

		if (navigator.clipboard) {
			navigator.clipboard.writeText(target.textContent || "");
		}
	});
</script>
